jobs:
  - template: default.yml@templates
    parameters:
      setup:
        - script: |
            $header = "AUTHORIZATION: bearer $(System.AccessToken)"
            git -c http.extraheader="$header" submodule sync
            git -c http.extraheader="$header" submodule update --init --force --depth=1
            displayName: "Checkout recursively"
        - script: |
            choco install ninja
            displayName: "Checkout recursively"
            condition: eq(variables['Agent.OS'], 'Windows_NT')
            displayName: "Install Ninja"
        - script: |
            brew install ninja
            displayName: "Checkout recursively"
            condition: eq(variables['Agent.OS'], 'Darwin')
            displayName: "Install Ninja"
        - script: |
            sudo apt-get install ninja-build
            displayName: "Checkout recursively"
            condition: eq(variables['Agent.OS'], 'Linux')
            displayName: "Install Ninja"

resources:
  repositories:
    - repository: templates
      type: github
      name: crate-ci/azure-pipelines
      ref: refs/heads/v0.4
      endpoint: FXTi
