jobs:
  - template: default.yml@templates
    parameters:
      setup:
        - checkout: self
          submodules: true | recursive

resources:
  repositories:
    - repository: templates
      type: github
      name: crate-ci/azure-pipelines
      ref: refs/heads/v0.4
      endpoint: FXTi
